@font-face {
    font-family:outfit;
    src: url(./Outfit/Outfit-VariableFont_wght.ttf);
}
:root{
    --White: hsl(0, 0%, 100%);
    --Lightgrey: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    /* padding:0rem 2rem 4rem 2rem; */
    background-color: var(--Lightgrey);
}
/* @media (min-width:700px){
    .body{
        padding:0px;
    }
} */
.wrapper{
    width:85%;
    margin:0 auto;
    max-width:300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* height:calc(100vh - 1px); */
    padding-top:7em;
}
  
.hero{
    padding:1rem 1rem 2rem 1rem;
    background-color: white;
    font-family:outfit;
    border-radius:18px;
    box-shadow:5px 5px 5px rgba(0, 0, 0,0.05)
}
/* @media (min-width:500px){
    .hero{
        width:60%;
    }
}
@media (min-width:700px){
    .hero{
        width:25%;
    }
} */
.links{
    margin-top:3rem;
    font-size:1.1rem;
    font-family:outfit;
    text-align:center;
}

.hero img{
    width:100%;
    border-radius:12px;
}
.hero h2{
    color:var(--Darkblue);
    padding:0rem 1rem 1rem 1rem;
    text-align:center;
    font-size:1.3rem;
    font-weight:700px;
    margin-bottom:1rem;
    margin-top:1rem;
}
/* @media (min-width:600px){
    .hero h2{
        font-size:1.4rem;
    }
} */
.hero p{
    padding:0rem 1.1rem 0rem 1.1rem;
    text-align:center;
    color:grey;
    font-size:.87rem;
    margin-top:-1rem;
}
/* @media (min-width:600px){
    .hero p{
        font-size:1rem;
    }
} */
